

*{
margin: 0;;
padding:
0;
box-sizing:
border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navegacao{
width: 100%; /*largura do menu em relação a largura da página*/
top: 0; /*menu sempre ficar no topo*/
position:fixed;
/* deixa o menu fixo*/
background:rgba(221, 133, 220, 0.8); /* COR DO FUNDO COM TRANSPARÊNCIA*/
padding: 1.5rem; /* espaço interno do menu*/
z-index: 100; /* MENU FICA NA FRENTE DO CONTEÚDO DA PÁGINA*/
  transition: width 0.5s ease; /*transição suave na largura*/
  .foto-perfil
width:
200px; /*
Define largura */
height:
200px;
/*
Define altura */
Box-shadow: 0 0 20px rgba(79, 70, 229, 0.3); /* Sombra externa */
border-radius:
50%;
/*
Arredonda bordas */
border: 4px

  .principal{
}
min-height: 100vh; / Altura mínima tela */
display: flex; /* Ativa flexbox layout */
justify-content: center; /* Centraliza horizon
align-items: center; /* Centraliza verticalmen
flex-direction: column; /* Direção coluna */
.div-foto{
text-align: center; /* Centraliza texto */
  .div-foto h1{
font-size: 35px;
color: rgb(222, 51, 60);
margin: 5px; /* margem externa do elemento*/
}
.div-foto p{
font-size: 1.5rem;/*rem em relaçao ao tamanho original*/
color:rgba(238, 34, 133, 0.533);

.sobre{
/* 6x em relação ao tamanho da letra para cima e baixo
2x para os lados*/
padding: 6rem 2rem;
}
.sobre-titulo {
font-size: 2.0rem;
color: #e2e8f0;
margin-bottom: 20px;
text-align: center
  .sobre-caixa (
padding:
2rem;
max-width:
600px;
/*largura máxima*/
margin:
0 auto;
border-radius:
16px;/*bordas arredondadas*/
border: 1px solid rgba(255, 255, 255, 0.1); /* define uma borda para o elemento*/
background:rgba(255, 255, 255, 0.05); /*fundo branco transparente*/
}
.sobre-paragrafo
{
text-align:
center;
font-size
}
}
}
}
